%p.exhibit-tally
  Exhibiting
  %span.count= pluralize(@artworks.total_count, 'Work')
  - if @user
    by
    = link_to @user, user_path(@user)
  - if @gallery
    in gallery
    = link_to @gallery, gallery_path(@gallery)

= render 'shared/thumbs', models: @artworks

= paginate @artworks
