%h1.name= @user

- if can?(:update, @user)
  = link_to 'Edit Profile', edit_user_path(@user), class: 'action'

.biography
  :markdown
    #{@user.biography}

%h2= link_to 'Recent Artwork', artworks_path(user: @user)

- if @user == current_user && can?(:create, Artwork)
  = link_to 'Post Artwork', new_artwork_path, class: 'action'

= render 'shared/artworks_thumbs', artworks: @user.artworks.limit(9), specific_user: true