%html
  %head
    %title= page_title(app_name: 'Chicago Teen Museum')
    = stylesheet_link_tag 'application' #, cache: true
    = javascript_include_tag 'application' #, cache: true
    = csrf_meta_tags

  %body{class: body_class}
    %header
      %ul.navigation
        %li= link_to image_tag('logo_small.png'), root_path
        %li>
          %h3= link_to 'Galleries', galleries_path
        %li>
          %h3= link_to 'Artwork', artworks_path
        %li>
          %h3= link_to 'You!', (signed_in? ? current_user : sign_in_path)

      .auth
        - if signed_in?
          = link_to 'Sign Out', sign_out_path, method: :delete
        - else
          = link_to 'Sign Up', sign_up_path
          or
          = link_to 'Sign In', sign_in_path

    .content
      = yield

    %footer