%html
  %head
    %title= page_title(app_name: 'Chicago Teen Museum')
    = stylesheet_link_tag 'application' #, cache: true
    = javascript_include_tag 'application' #, cache: true
    = csrf_meta_tags

  %body{class: body_class}
    .header-outer
      %header
        %nav.account
          - if signed_in?
            = link_to 'Your Profile', (signed_in? ? current_user : sign_in_path)
            |
            = link_to 'Sign Out', sign_out_path, method: :delete
          - else
            = link_to 'Register', sign_up_path
            |
            = link_to 'Sign In', sign_in_path
        .logo
          = link_to image_tag('logo_small.png'), root_path
        %nav.menu
          %ul
            %li= link_to 'Galleries', galleries_path
            %li= link_to 'Artwork', artworks_path
        %nav.actions
          %ul
            - if can?(:create, Gallery)
              %li= link_to 'Create Gallery', new_gallery_path
            - if can?(:create, Artwork)
              %li= link_to 'Post Artwork', new_artwork_path

    .content-outer
      .content
        = yield

    .footer-outer
      %footer
        = link_to 'About', about_path
